.webkit {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0px;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  top: -22%;
  width: 100%;
  text-align: center;
}
.webkit2 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0px;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  bottom: -34%;
  width: 100%;
  text-align: center;
}

@media (min-width:315px) and (max-width:426px){
  .full_width{
    width: 100%;
  }
}
